@page "/calculator"
@using System.Text 

<h1>Calculator</h1>

<p>Safe Current: @SafeCurrent</p>
<p>Safe Previous: @SafePrevious</p>
<p>Operator: @Operator</p>

<div class="calculator-grid">
    <div class="output">
        <div class="previous-operand">@PreviousOperand</div>
        <div class="current-operand">@CurrentOperand</div>
    </div>
    <button class="span-two" @onclick="@(() => AllClear())">AC</button>
    <button @onclick="@DeletePressed">Del</button>
    <button @onclick="@(() => SelectOperation("/"))">/</button>
    <button @onclick="@(() => UpdateHeading("1"))">1</button>
    <button @onclick="@(() => UpdateHeading("2"))">2</button>
    <button @onclick="@(() => UpdateHeading("3"))">3</button>
    <button @onclick="@(() => SelectOperation("*"))">*</button>
    <button @onclick="@(() => UpdateHeading("4"))">4</button>
    <button @onclick="@(() => UpdateHeading("5"))">5</button>
    <button @onclick="@(() => UpdateHeading("6"))">6</button>
    <button @onclick="@(() => SelectOperation("+"))">+</button>
    <button @onclick="@(() => UpdateHeading("7"))">7</button>
    <button @onclick="@(() => UpdateHeading("8"))">8</button>
    <button @onclick="@(() => UpdateHeading("9"))">9</button>
    <button @onclick="@(() => SelectOperation("-"))">-</button>
    <button @onclick="@(() => UpdateHeading("."))">.</button>
    <button @onclick="@(() => UpdateHeading("0"))">0</button>
    <button class="span-two" @onclick="(() => PerformCalculation(SafePrevious, SafeCurrent, Operator))">=</button>
</div>

@code {
    StringBuilder CurrentOperand = new StringBuilder("0");
    StringBuilder PreviousOperand = new StringBuilder();
    StringBuilder SafeCurrent = new StringBuilder("0");
    StringBuilder SafePrevious = new StringBuilder("0");
    string Operator = "$";
    float Result = 0;
    bool NewOperation = false;

    private void UpdateHeading(string buttonNumber)
    {
        if (!string.IsNullOrWhiteSpace(buttonNumber))
        {
            if (NewOperation == false)
            {
                if (CurrentOperand.ToString() == "0")
                {
                    if (buttonNumber == ".")
                    {
                        if (!CurrentOperand.ToString().Contains("."))
                        {
                            CurrentOperand.Append(".");
                            SafeCurrent.Append(".");
                        }
                        else
                        {
                            return;
                        }
                    }
                    else if (float.Parse(buttonNumber) > 0)
                    {
                        CurrentOperand.Clear();
                        CurrentOperand.Append(buttonNumber);
                        SafeCurrent.Clear();
                        SafeCurrent.Append(buttonNumber);
                    }
                    else
                    {
                        return;
                    }
                }
                else
                {
                    if (buttonNumber == ".")
                    {
                        if (!CurrentOperand.ToString().Contains("."))
                        {
                            CurrentOperand.Append(".");
                            SafeCurrent.Append(".");
                        }
                        else
                        {
                            return;
                        }
                    }
                    else
                    {
                        CurrentOperand.Append(buttonNumber);
                        SafeCurrent.Append(buttonNumber);
                    }
                }
            }
            else
            {
                if (buttonNumber == ".")
                {
                    CurrentOperand.Clear();
                    CurrentOperand.Append("0" + buttonNumber);
                    SafeCurrent.Clear();
                    SafeCurrent.Append(buttonNumber);
                    NewOperation = false;
                }
                else
                {
                    CurrentOperand.Clear();
                    CurrentOperand.Append(buttonNumber);
                    SafeCurrent.Clear();
                    SafeCurrent.Append(buttonNumber);
                    NewOperation = false;
                }
            }
        }
        if (string.IsNullOrWhiteSpace(CurrentOperand.ToString()))
        {
            CurrentOperand.Append("0");
        }
    }

    private void DeletePressed()
    {
        if (!string.IsNullOrWhiteSpace(CurrentOperand.ToString()))
        {
            if (CurrentOperand.ToString() != "0")
            {
                CurrentOperand.Remove(CurrentOperand.Length - 1, 1);
                SafeCurrent.Remove(SafeCurrent.Length - 1, 1);
            }
            else if (CurrentOperand.Length == 1)
            {
                CurrentOperand.Remove(CurrentOperand.Length - 1, 1);
                CurrentOperand.Append("0");
                SafeCurrent.Remove(SafeCurrent.Length - 1, 1);
                SafeCurrent.Append("0");
            }
            else
            {
                return;
            }
        }
    }

    private void AllClear()
    {
        CurrentOperand.Clear();
        PreviousOperand.Clear();
        CurrentOperand.Append("0");
        SafeCurrent.Clear();
        SafePrevious.Clear();
        SafePrevious.Append("0");
        SafeCurrent.Append("0");
        Operator = "$";
    }

    private void SelectOperation(string NewOperator)
    {
        if (!string.IsNullOrWhiteSpace(NewOperator))
        {
            if (PreviousOperand.ToString().Contains("*") || PreviousOperand.ToString().Contains("-") || PreviousOperand.ToString().Contains("+") || PreviousOperand.ToString().Contains("/"))
            {
                PerformCalculation(SafePrevious, SafeCurrent, Operator);
                PreviousOperand.Append(CurrentOperand + NewOperator);
                SafePrevious.Append(CurrentOperand);
                Operator = NewOperator;
                CurrentOperand.Clear();
                SafeCurrent.Clear();
                SafeCurrent.Append("0");
            }
            else
            {
                PreviousOperand.Clear();
                PreviousOperand.Append(CurrentOperand);
                PreviousOperand.Append(NewOperator);
                CurrentOperand.Clear();
                Operator = NewOperator;
                SafePrevious.Clear();
                SafePrevious.Append(SafeCurrent);
                SafeCurrent.Clear();
                SafeCurrent.Append("0");
            }
        }
    }

    private void PerformCalculation(StringBuilder PrevOperand, StringBuilder CurrOperand, string Operator)
    {
        if (Operator == "$")
        {
            return;
        }
        else
        {
            if (!String.IsNullOrWhiteSpace(Operator) && CurrOperand.Length > 0 && PrevOperand.Length > 0)
            {
                float IntPrevious = 0;
                float IntCurrent = 0;
                String ResultString = "";

                if (float.TryParse(PrevOperand.ToString(), out IntPrevious) && float.TryParse(CurrOperand.ToString(), out IntCurrent))
                {
                    switch (Operator)
                    {
                        case "+":
                            Result = IntPrevious + IntCurrent;
                            break;
                        case "-":
                            Result = IntPrevious - IntCurrent;
                            break;
                        case "*":
                            Result = IntPrevious * IntCurrent;
                            break;
                        case "/":
                            Result = IntPrevious / IntCurrent;
                            break;
                        default:
                            break;
                    }

                    ResultString = Result.ToString();
                    CurrentOperand.Clear();
                    SafeCurrent.Clear();
                    PreviousOperand.Clear();
                    SafePrevious.Clear();
                    SafePrevious.Append("0");
                    SafeCurrent.Append(ResultString);
                    CurrentOperand.Append(ResultString);
                    NewOperation = true;
                    Operator = "$";
                }
            }
        }
    }
}

